<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title th:text="#{detalhar.titulo}"></title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 th:text="#{detalhar.cabecalho}"></h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="card">
            <h5 class="card-header" th:text="${cliente.nome}"></h5>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9">
                  <p>
                    <strong th:text="#{detalhar.label.dataNascimento}"></strong>
                    <span
                      th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"
                    ></span>
                  </p>
                  <p>
                    <strong th:text="#{detalhar.label.profissao}"
                      >Profissão:
                    </strong>
                    <span th:text="${cliente.profissao}"></span>
                  </p>
                </div>
                <div class="col-sm-3">
                  <a
                    class="btn btn-warning"
                    th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
                    th:text="#{detalhar.acao.editar}"
                    >Editar</a
                  >
                  <a
                    class="btn btn-danger"
                    th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
                    onclick="return confirm('Deseja realmente excluir esse cliente?');"
                    th:text="#{detalhar.acao.excluir}"
                    >Excluir</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <a
            th:href="@{/cliente}"
            class="btn btn-primary"
            th:text="#{detalhar.acao.voltar}"
            >Voltar</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
