<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title
      th:text="${cliente.id == null ? 
        'Spring Fundamentos - Cadastro de Cliente' : 
        'Spring Fundamentos - Edição de Cliente'}"
    >
    </title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1
            th:text="${cliente.id == null ? 
            'Cadastro de Cliente' : 
            'Edição de Cliente'}"
          ></h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <form method="post" th:object="${cliente}">
            <input type="hidden" th:field="*{id}" />

            <div
              th:replace="~{fragments/_bootstrap-fields :: input ('nome', 'Nome', 'text')}"
            ></div>

            <div
              th:replace="~{fragments/_bootstrap-fields :: input ('dataNascimento', 'Data Nascimento', 'date')}"
            ></div>

            <div
              th:replace="~{fragments/_bootstrap-fields :: input ('profissao', 'Profissão', 'text')}"
            ></div>

            <button
              class="btn btn-primary"
              type="submit"
              th:text="${cliente.id == null ? 'Cadastrar' : 'Editar'}"
            >
              Alterar
            </button>
            <a th:href="@{/cliente}" class="btn btn-primary">Voltar</a>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
