<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title>Spring Fundamentos - Listagem de Clientes</title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Listagem de Clientes</h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <!-- <h5 th:if="${clientes.size == 0}">Não há clientes cadastrados no momento</h5> -->
          <h5 th:if="${#lists.isEmpty(clientes)}">
            Não há clientes cadastrados no momento
          </h5>

          <!-- <table class="table" th:if="${! #lists.isEmpty(clientes)}"> -->
          <!-- <table class="table" th:if="${not #lists.isEmpty(clientes)}"> -->
          <!-- O th:unless trabalha como o contrário do th:if - apresenta se o valor for false -->
          <table class="table" th:unless="${#lists.isEmpty(clientes)}">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Profissão</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cliente : ${clientes}">
                <th scope="row" th:text="${cliente.id}"></th>
                <td>
                  <a
                    th:text="${cliente.nome}"
                    th:href="@{/cliente/{id} (id=${cliente.id}) }"
                  ></a>
                </td>
                <td
                  th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"
                ></td>
                <td th:text="${cliente.profissao}"></td>
                <td>
                  <a
                    class="btn btn-warning"
                    th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
                    >Editar</a
                  >
                  <a
                    class="btn btn-danger"
                    th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
                    onclick="return confirm('Deseja realmente excluir esse cliente?');"
                    >Excluir</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <a class="btn btn-primary" th:href="@{/cliente/cadastrar}"
            >Cadastrar novo cliente</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
