<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title th:text="#{listar.titulo}"></title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 th:text="#{listar.cabecalho}"></h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <!-- <h5 th:if="${clientes.size == 0}">Não há clientes cadastrados no momento</h5> -->
          <h5 th:if="${#lists.isEmpty(clientes)}" th:text="#{listar.tabela.vazia}"></h5>

          <!-- <table class="table" th:if="${! #lists.isEmpty(clientes)}"> -->
          <!-- <table class="table" th:if="${not #lists.isEmpty(clientes)}"> -->
          <!-- O th:unless trabalha como o contrário do th:if - apresenta se o valor for false -->
          <table class="table" th:unless="${#lists.isEmpty(clientes)}">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{listar.tabela.coluna.nome}"></th>
                <th scope="col" th:text="#{listar.tabela.coluna.dataNascimento}"></th>
                <th scope="col" th:text="#{listar.tabela.coluna.profissao}"></th>
                <th scope="col" th:text="#{listar.tabela.coluna.acoes}"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cliente : ${clientes}">
                <th scope="row" th:text="${cliente.id}"></th>
                <td>
                  <a
                    th:text="${cliente.nome}"
                    th:href="@{/cliente/{id} (id=${cliente.id}) }"
                  ></a>
                </td>
                <td
                  th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"
                ></td>
                <td th:text="${cliente.profissao}"></td>
                <td>
                  <a
                    class="btn btn-warning"
                    th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
                    th:text="#{listar.tabela.acao.editar}"
                    ></a
                  >
                  <a
                    class="btn btn-danger"
                    th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
                    onclick="return confirm('Deseja realmente excluir esse cliente?');"
                    th:text="#{listar.tabela.acao.excluir}"
                    ></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <a 
            class="btn btn-primary" 
            th:href="@{/cliente/cadastrar}"
            th:text="#{listar.tabela.acao.cadastrar}"
          >
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
