<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title th:text="#{home.titulo}"></title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 th:text="#{home.cabecalho}"></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p th:text="${boasVindas}"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p th:text="#{home.lista.titulo}"></p>
          <ul>
            <li th:each="aula : ${aulas}" th:text="${aula}"></li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
